.game {
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}

.board-row:after {
  content: "";
  display: table;
  clear: both;
}

.square {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  margin-top: -1px;
  margin-right: -1px;
}
