* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Fira Code, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  font-weight: 400;
  font-size: 18px;
  color: #292929;
}

.mw-640 {
  max-width: 640px;
  margin: 40px auto;
}

.display-page h1 {
  font-size: 24px;
  font-weight: 400;
  color: #292922;
  margin: 40px;
}

.days-page {
  max-width: 640px;
  margin: 40px auto;
}

.days-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.days-display {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.days-link {
  text-decoration: none;
  color: #292929;
  margin-bottom: 12px;
}

.days-link span {
  margin-right: 8px;
  opacity: 0.5;
}

.days-link b {
  font-weight: 300;
}

.days-link:hover {
  color: #9acd32;
}
